/* MOBILE */
body {
  background:#000000;
  color:#e86755;
  height:100%;
  margin:0;
  padding:0;
  font-family: 'Overpass Mono', sans-serif;
  font-size: 8px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing:1px;
}

.grid-container {
  margin: auto;
  width: 90%;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: auto auto auto auto auto;
  padding: 1%;
}

.grid-item {
  margin:auto;
  text-align: center;
}

.subjects {
  width:90%;
  height:auto;
  padding-bottom: 6%;
}

img {
  width:100%;
  height:auto;
}

/* BANNERS */
#bannerL {
  position:fixed;
  left:0;
  top:0;
  width:40px;
  height:100%;
}

#bannerR {
  position:fixed;
  right:-3px;
  top:0;
  width:40px;
  height:100%;
}


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

@media (max-width:1400px){
  .grid-container {
    grid-template-columns: auto auto auto auto auto;
  }

@media (max-width:1200px){
  .grid-container {
    grid-template-columns:  auto auto auto auto;
  }

@media (max-width:1000px){
  .grid-container {
    grid-template-columns: auto auto auto;
  }

  @media (max-width:800px){
    .grid-container {
      grid-template-columns: auto auto;
    }

@media (max-width:500px){
  .grid-container {
    grid-template-columns: auto;
    grid-gap: 50px;
  }
}
